################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/haai_Backend/.vs/haai_Backend
/haai_Backend/haai_Backend/obj
/haai_Backend/haai_Backend.AdminPortal/obj
/haai_Backend/haai_Backend.Application/obj
/haai_Backend/haai_Backend.CustomerPortal/obj
/haai_Backend/haai_Backend.Domain/obj
/haai_Backend/haai_Backend.Infrastructure/obj
/haai_Backend/haai_Backend.Presentation/obj
/haai_Backend/haai_Backend/bin/Debug/net8.0
/haai_Backend/haai_Backend.AdminPortal/bin/Debug/net8.0
/haai_Backend/haai_Backend/appsettings.Development.json
/haai_Backend/haai_Backend.CustomerPortal/appsettings.Development.json
/haai_Backend/haai_Backend.AdminPortal/appsettings.Development.json
